@import "home";
@import "navbar";
@import "music";
@import "work";
@import "contact";

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: black;
  height: 400vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
}

section {
  height: 100vh;
  scroll-snap-align: end;
}

.container {
  height: 100%;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
}


